@font-face {
  font-family: "Poppins";
  src: url(../public/fonts/Poppins-Regular.woff) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../public/fonts/lato-regular.woff) format("truetype");
}

@font-face {
  font-family: "DINCond-Bold";
  src: url(../public/fonts/DINCond-Bold\ Regular.otf) format("truetype");
}

body {
  margin: 0;
}
